matplotlib==2.2.4
nibabel==2.4.0
numpy==1.16.3
progressbar==2.5
progressbar2==3.39.3
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.4.0
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2019.1
PyWavelets==1.0.3
pyxdg==0.25
scikit-image==0.14.2
scipy==1.2.1
toolz==0.9.0
